$size: 8px;
$width: 1px;

.arrow {
  cursor: pointer;
  display: block;
  width: $size / 1.414;
  height: $size / 1.414 * 2;
  position: relative;
  transform: translate(14px, 6px);

  & span,
  &:before,
  &:after {
    background: #e9a328;
    content: '';
    display: block;
    width: $size;
    height: $width;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
    right: 0;
    transform-origin: right 50%;
  }

  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }

  & span {
    width: 20px;
  }
}

.direction-list_item:hover .arrow--right {
  & span {
    width: $size * 3.4;
    transition: width 0.4s, right 0.4s 0.04s;
  }

  & span,
  &:before,
  &:after {
    right: 0;
    transform-origin: right 50%;
  }

  &:before,
  &:after {
    transition: right 0.4s 0.04s;
  }

  & span,
  &:before,
  &:after {
    right: $size / 1.4 * -2.5;
    background: #fff;
  }
}
