@mixin font-settings($size, $height) {
  font-size: $size;
  line-height: $height;
}

@mixin pseudo($display: block, $content: "") {
  display: $display;
  content: $content;
}

@mixin auto-line-height($font-size) {
  line-height: $font-size * 1.2;
}

@mixin background-opacity($color, $opacity) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}