@mixin font-settings($size, $height) {
  font-size: $size;
  line-height: $height;
}

@mixin pseudo($display: block, $content: "") {
  display: $display;
  content: $content;
}

@mixin auto-line-height($font-size) {
  line-height: $font-size * 1.2;
}

@mixin background-opacity($color, $opacity) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}

@mixin letter-spacing($interval) {
  letter-spacing: ($interval / 1000)+em;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}