/*Fonst var______________*/
$main-font-stack: "Ubuntu", "Times New Roman", sans-serif;
$caption-font-stack: "Open Sans", sans-serif;

/* Color stack__________*/
$main-text-color: #fff;
$black-decore-color: #222222;
$section-decore-color: #444444;
$main-decore-color: #fcae26;
$footer-text-color: #9699a6;

$section-bg-color: #fafafa;
$section-bg-decore-color: #824fe3;

$main-font-size: 18px;
$title-font-size-mobile: 20px;
