.container {
  margin: 0 auto;
  padding: 0;

  @media screen and (max-width: 689px) {
    width: 280px;
  }

  @media screen and (min-width: 690px) and (max-width: 1299px) {
    width: 690px;
  }

  @media screen and (min-width: 1300px) {
    width: 1300px;
  }
}

.footer-container {
  margin: 0 auto;
  padding: 0;
  max-width: 200px;

  @include for-tablet-portrait-up {
    max-width: 620px;
  }

  @include for-desktop-up {
    max-width: 1150px;
  }
}
