.direction {
  padding-bottom: 52px;
  @include section-for-desctop-up {
    padding-bottom: 200px;
  }
}
.direction-goiteens {
  @include font-settings(20px, 24px);
  @extend %prg;
  font-family: $caption-font-stack;
  color: $black-decore-color;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
  @include section-for-tablet-up {
    @include font-settings(33px, 78px);
    margin-bottom: 12px;
  }
  @include section-for-desctop-up {
    margin-bottom: 42px;
  }
}
.direction-list {
  @extend %list;
  @include section-for-tablet-up {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @include section-for-desctop-up {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.direction-goiteens::before {
  @include pseudo(inline-block);
  margin-right: 10px;
  border-radius: 50%;
  background-color: $main-decore-color;
  width: 30px;
  height: 30px;
  background-image: url(../images/common/aim.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192px) {
    background-image: url(../images/common/aim@2x.png);
  }
}
.direction-list_item {
  list-style: none;
  padding: 26px 62px 22px 45px;
  border-radius: 7px;
  background-color: $section-bg-color;
  width: 280px;
  height: 225px;
  cursor: pointer;
  &:hover .direction-list_item-text,
  &:hover .direction-list_item-number,
  &:hover .direction-list_item-years {
    color: $main-text-color;
  }
  //   &:hover .direction-list_item-arrow {
  //     fill: $main-text-color;
  //   }
  &:hover {
    background-color: $main-decore-color;
    box-shadow: 1.5px 2.598px 8px 0px rgba(1, 1, 1, 0.1);
    @include section-for-tablet-up {
      box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);
    }
  }
  @include section-for-phone-only {
    margin-bottom: 16px;
  }
  @include section-for-tablet-up {
    width: 310px;
    height: 295px;
  }
  @include section-for-desctop-up {
    width: 325px;
    height: 305px;
  }
}
.direction-list_item:last-child {
  @include section-for-phone-only {
    margin-bottom: 0px;
  }
}
.direction-list_item-title {
  @include font-settings(25px, 25px);
  margin: 0;
  padding-bottom: 26px;
  font-family: $main-font-stack;
  color: $black-decore-color;
  font-weight: bold;
  @include section-for-tablet-up {
    @include font-settings(30px, 36px);
  }
}
.direction-list_item-text {
  @extend %prg;
  margin-bottom: 20px;
  @include font-settings(16px, 20px);
  font-family: $main-font-stack;
  color: $section-decore-color;
}

// .direction-list_item-arrow{
//     fill:  $main-decore-color;
//     @include section-for-tablet-up{
//     margin-top: 10px;
//     }
// }
.direction-list_item-number {
  margin-bottom: 10px;
  @include font-settings(30px, 60px);
  font-family: $caption-font-stack;
  color: $main-decore-color;
  font-weight: bold;
  @include section-for-tablet-up {
    @include font-settings(40px, 48px);
  }
}
.direction-list_item-years {
  @include font-settings(13px, 16px);
  position: relative;
  top: -26px;
  vertical-align: super;
  font-family: $main-font-stack;
  color: $main-decore-color;
  text-decoration: underline;
}
