.teaching-info {
  @include section-for-phone-only {
    padding-top: 55px;
  }

  @include section-for-tablet-only {
    padding-top: 60px;
  }

  @include section-for-desctop-up {
    padding-top: 108px;
  }
}

.teaching-info__bg {
  @include section-for-desctop-up {
    background-color: $section-bg-color;
    background-image: url(../images/how_we_teach/teaching-info-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/teaching-info-bg@2x.png);
    }
  }
}

.teaching-info__title {
  &::before {
    background-image: url(../images/common/aim.png);
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url(../images/common/aim@2x.png);
    }
  }
}

.teaching-info__list {
  @extend %list;
  @extend %item;
  display: flex;
  flex-wrap: wrap;

  @include section-for-phone-only {
    padding: 8px 0 50px 45px;
  }

  @include section-for-tablet-only {
    padding: 10px 88px 56px 88px;
    justify-content: space-between;
  }

  @include section-for-desctop-up {
    padding-bottom: 106px;
  }
}

.teaching-info__item {
  position: relative;

  &::before {
    display: block;
    content: '';
    border-radius: 50%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include section-for-phone-only {
    flex: 0 0 194px;
    padding-top: 94px;

    &::before {
      width: 55px;
      height: 55px;
      top: 28px;
    }
  }

  @include section-for-tablet-only {
    flex: 0 0 224px;
    padding-top: 130px;

    &::before {
      width: 80px;
      height: 80px;
      top: 32px;
    }
  }

  @include section-for-desctop-up {
    flex: 0 0 25%;
    padding: 184px 47px 0 0;

    &::before {
      width: 95px;
      height: 95px;
      top: 62px;
    }
  }

  &:first-child::before {
    @include background-opacity($main-decore-color, 0.2);
    background-image: url(../images/how_we_teach/globe.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/globe@2x.png);
    }
  }

  &:nth-child(2)::before {
    @include background-opacity($section-bg-orange-color, 0.2);
    background-image: url(../images/how_we_teach/hands.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/hands@2x.png);
    }
  }

  &:nth-child(3)::before {
    @include background-opacity($section-bg-decore-color, 0.2);
    background-image: url(../images/how_we_teach/peace.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/peace@2x.png);
    }
  }

  &:nth-child(4)::before {
    @include background-opacity($section-bg-aquamarine-color, 0.2);
    background-image: url(../images/how_we_teach/coins.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/coins@2x.png);
    }
  }

  &:nth-last-child(3)::before {
    @include background-opacity($section-bg-decore-color, 0.2);
    background-image: url(../images/how_we_teach/lamp.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/lamp@2x.png);
    }
  }

  &:nth-last-child(2)::before {
    @include background-opacity($section-bg-orange-color, 0.2);
    background-image: url(../images/how_we_teach/folder.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/folder@2x.png);
    }
  }

  &:last-child::before {
    @include background-opacity($main-decore-color, 0.2);
    background-image: url(../../images/how_we_teach/arrow-aim.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/how_we_teach/folder@2x.png);
    }
  }
}

.teaching-info__item-descr {
  @extend %prg;
  @include letter-spacing(50);

  @include section-for-phone-only {
    font-size: $primary-item-font-size;
    line-height: $primary-item-line-height;
  }

  @include section-for-tablet-only {
    font-size: $secondary-item-font-size;
    line-height: $secondary-item-line-height;
  }

  @include section-for-desctop-up {
    font-size: $thirdly-item-font-size;
    line-height: $thirdly-item-line-height;
  }
}
