.teaching-struct__title {
  &::before {
    background-image: url(../images/common/diagram.png);
    background-position: center;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/common/diagram@2x.png);
    }
  }

  @include section-for-phone-only {
    &::before {
      background-image: url(../images/common/aim.png);

      @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/common/aim@2x.png);
      }
    }
  }
}

.teaching-struct__list {
  @extend %list;
  @extend %item;
}

.teaching-struct__item-title {
  @extend %prg;
}

.teaching-struct__item-title {
  @extend %prg;
}
