.teaching-struct__title {
  &::before {
    background-image: url(../images/common/diagram.png);
    background-position: center;
  }

  @include section-for-phone-only {
    &::before {
      background-image: url(../images/common/aim.png);
    }
  }
}

.teaching-struct__list {
  @extend %list;
  @extend %item;
  counter-reset: title-count;

  @include section-for-phone-only {
    padding-top: 24px;
    padding-bottom: 60px;
  }
}

.teaching-struct__item {
  @include letter-spacing(30);
  @include background-opacity($main-decore-color, 0.2);
  position: relative;
  border-radius: 0 29px;
  counter-increment: title-count;

  &::before {
    display: block;
    content: '';
    position: absolute;
    border: 1px dashed $main-text-color;
    border-radius: 0 29px;
  }

  @include section-for-phone-only {
    width: 280px;
    height: 260px;
    padding: 50px 20px 20px 44px;
    box-shadow: 1.5px 2.598px 8px 0px rgba(0, 0, 0, 0.1);
    font-size: $secondary-item-font-size;

    &::before {
      width: 242px;
      height: 222px;
      top: 19px;
      left: 19px;
    }
  }

  &:nth-child(2) {
    @include background-opacity($section-bg-orange-color, 0.2);
  }

  &:nth-child(3) {
    @include background-opacity($section-bg-decore-color, 0.2);
  }

  &:last-child {
    @include background-opacity($section-bg-aquamarine-color, 0.2);
  }

  @include section-for-phone-only {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.teaching-struct__item-title {
  @extend %prg;
  color: $black-decore-color;
  font-weight: 700;

  &::before {
    content: counter(title-count) '.';

    @include section-for-phone-only {
      padding-right: 6px;
    }
  }

  @include section-for-phone-only {
    font-size: $item-title-fz-mobile;
    @include auto-line-height($item-title-fz-mobile);
    padding-bottom: 18px;
  }
}

.teaching-struct__item-descr {
  @extend %prg;

  @include section-for-phone-only {
    font-size: $secondary-item-font-size;
    line-height: $secondary-item-line-height;
  }
}
